html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
}
body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
}
a{
    text-decoration: none;
}
.container{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}
.titulo{
    font-size: 28px;
    color: var(--branco-principal);
}
.imagem{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    align-items: center;
}

.container__anuncio{
    margin: 0 6em ;
}

.container__h2{
    color: var(--branco-principal);
    font-size: 48px;
}
.img_combo{
    margin: 1em 0 2em 0;
}
.botao{
    background-color: var(--botao-azul);
    border-radius: 8px;
    padding: 16px;
    color: var(--branco-principal);
    display: block;
    margin-bottom: 1em;
    text-align: center;
}
.botao__secundario{
    background-color: transparent;
    border: 2px solid var(--cinza-secundario);
    color: var(--cinza-secundario);
    padding: 16px;
    border-radius: 8px;
    display: block;
    margin-bottom: 1em;
}
.container__descricao{
    color: var(--cinza-secundario);
    font-size: 14px;
    line-height: 150%;
}
.secundario{
    margin: 0 10em;
    align-items: center;
}
.img_plataformas{
    width: 80%;
}
.container__secundario, .container__terciario{
    padding: 2em;
}
.terciario , .quarto{
    align-items: center;
    margin: 0 6em ;
}
.botao3{
    margin-top:1em ;
    display: inline-block;
}

.container__quarto{
    padding: 1em;
}
.dispositivos{
    text-align: center;
    margin-bottom: 10em;
}
.dispositivos__titulo{
    font-size: 48px;
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    display: inline-block;
}
.dispositivos__lista{
    display: flex;
    justify-content: center;
    margin: 1em 0;
}
.lista__item{
    color: var(--branco-principal);
    font-size: 32px;
}
.footer{
    text-align: center;
}
.img__footer{
    margin-bottom: 3em;
}
.rodape__lista{
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}
.lista__link a{
    color: var(--branco-principal);
    text-decoration: none;
    margin-right: 1em;
}
.lista__link a:hover{
    color: #3c92fa;
}
.footer__direitos{
    font-size: 14px;
    color: var(--cinza-secundario);
    margin-bottom: 2em;
}
.botao:hover{
    background-color: #3c92fa;
}